<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zt.thread.dao.MymallOnlineListLogMapper">
  <resultMap id="BaseResultMap" type="com.zt.thread.entity.MymallOnlineListLog">
    <id column="LOG_ID" jdbcType="VARCHAR" property="logId" />
    <result column="LOG_MYMALL_ID" jdbcType="VARCHAR" property="logMymallId" />
    <result column="LOG_USER" jdbcType="VARCHAR" property="logUser" />
    <result column="LOG_TEXT" jdbcType="VARCHAR" property="logText" />
    <result column="LOG_DATA" jdbcType="VARCHAR" property="logData" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    LOG_ID, LOG_MYMALL_ID, LOG_USER, LOG_TEXT, LOG_DATA, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Q_MYMALL_ONLINE_LIST_LOG
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from Q_MYMALL_ONLINE_LIST_LOG
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zt.thread.entity.MymallOnlineListLog">
    insert into Q_MYMALL_ONLINE_LIST_LOG (LOG_ID, LOG_MYMALL_ID, LOG_USER, 
      LOG_TEXT, LOG_DATA, CREATE_TIME
      )
    values (#{logId,jdbcType=VARCHAR}, #{logMymallId,jdbcType=VARCHAR}, #{logUser,jdbcType=VARCHAR}, 
      #{logText,jdbcType=VARCHAR}, #{logData,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zt.thread.entity.MymallOnlineListLog">
    insert into Q_MYMALL_ONLINE_LIST_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        LOG_ID,
      </if>
      <if test="logMymallId != null">
        LOG_MYMALL_ID,
      </if>
      <if test="logUser != null">
        LOG_USER,
      </if>
      <if test="logText != null">
        LOG_TEXT,
      </if>
      <if test="logData != null">
        LOG_DATA,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=VARCHAR},
      </if>
      <if test="logMymallId != null">
        #{logMymallId,jdbcType=VARCHAR},
      </if>
      <if test="logUser != null">
        #{logUser,jdbcType=VARCHAR},
      </if>
      <if test="logText != null">
        #{logText,jdbcType=VARCHAR},
      </if>
      <if test="logData != null">
        #{logData,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zt.thread.entity.MymallOnlineListLog">
    update Q_MYMALL_ONLINE_LIST_LOG
    <set>
      <if test="logMymallId != null">
        LOG_MYMALL_ID = #{logMymallId,jdbcType=VARCHAR},
      </if>
      <if test="logUser != null">
        LOG_USER = #{logUser,jdbcType=VARCHAR},
      </if>
      <if test="logText != null">
        LOG_TEXT = #{logText,jdbcType=VARCHAR},
      </if>
      <if test="logData != null">
        LOG_DATA = #{logData,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zt.thread.entity.MymallOnlineListLog">
    update Q_MYMALL_ONLINE_LIST_LOG
    set LOG_MYMALL_ID = #{logMymallId,jdbcType=VARCHAR},
      LOG_USER = #{logUser,jdbcType=VARCHAR},
      LOG_TEXT = #{logText,jdbcType=VARCHAR},
      LOG_DATA = #{logData,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where LOG_ID = #{logId,jdbcType=VARCHAR}
  </update>
</mapper>